body {
    background-color: lightgray;
}

.header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 1px;
    background: transparent;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textHeader {
    color: gray;
    font-size: 50px;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
}

.IngresoDatos {
    padding-top: 20px;
    text-align: center;
    border-color: gray;
    border-radius: 10px;
}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rowsTable {
    padding-top: 10px;
}

.txtDatos {
    border-radius: 5px;
    text-align: center;
    color: gray;
}

.ButtonDatos {
    display: flex;
    justify-content: center;
}

#BtnAgregar {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    background-color: #fff;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 1px 4px 5px 0px #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#BtnActualizar {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    background-color: #fff;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 1px 4px 5px 0px #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#BtnEliminar {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    background-color: #fff;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 1px 4px 5px 0px #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
